.header {
    padding-top: 20px;
    min-height: 910px;
    background-image: url('../img/bg/girl.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        svg {
            path:hover {
                fill: #BDAE82;
            }
        }
    }
    &__nav {
        display: flex;
        align-items: center;
    }
    &__menu {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
    }
    &__item {
        margin-left: 30px;
    }
    &__item:first-child {
        margin-left: 0;
    }
    &__language {
        margin-left: 31px;
    }
    &__link {
        font-family: $main-font;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 50px;
        color: $white;
        text-decoration: none;
        transition: 0.6s ease-in-out;
    }
    &__link:hover {
        color: #BDAE82;
    } 
    &__english {
        font-family: $main-font;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 50px;
        color: $gold;
        cursor: pointer;
    }
    &__russian {
        font-family: $main-font;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 50px;
        color: $white;
        cursor: pointer;
    }    
}